<ion-header>
  <!-- <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons> -->
  <p>Hot Deal</p>
</ion-header>

<ion-content>
  <ion-searchbar (search)="onSearch($event)" animated placeholder="Search for food, clothes, market,..."></ion-searchbar>
  <div *ngIf="isLoading" text-center>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div class="not-found" text-center *ngIf="!isLoading && offers.length <= 0">
    <img src="../../../assets/images/empty.png" alt="">
    <p>Couldn't find your item</p>
    <ion-button routerLink="/places/tabs/offers/new">New Post</ion-button>
  </div>
  <ion-list *ngIf="!isLoading && offers.length > 0" lines="none">
    <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
      <app-offer-item [offer]="offer"></app-offer-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

