<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="aleup-logo">
      <img src="../../assets/images/AleUp.png" alt="">
    </div>
    <div class="input-wrapper">
      <img class="input-icon" src="../../assets/icon/letter.svg"/>
      <input placeholder="Enter Email" type="email" ngModel name="email" required email #emailCtrl="ngModel" >
    </div>
    <p class="notify" *ngIf="!emailCtrl.valid && emailCtrl.touched">Please enter your correct email</p>
    <div class="input-wrapper">
      <img class="input-icon" src="../../assets/icon/key.svg"/>
      <input placeholder="Enter Password" type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel">
    </div>
    <p class="notify" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">Password should be at least 6 characters long</p>
    <ion-button type="submit" expand="block">{{ isLogin ? 'Login' : 'Sign up' }}</ion-button>
    <p class="question" *ngIf="isLogin">Not a member yet?</p>
    <ion-button class="register" type="button" fill="clear" expand="block" (click)="onSwitchAuthMode()">{{ isLogin ? 'Register' : 'Login' }}</ion-button>
  </form>
</ion-content>
