<ion-header>
  <p class="header">Profile</p>
  <ion-icon name="log-out" (click)="exitConfirm()"></ion-icon>
</ion-header>
<ion-content padding>
  <div class="avatar"></div>
  <div class="user-info">
    <div class="username">AleUp</div>
    <div class="info-wrapper">
      <div class="email"><b>Gmail:</b> aleup@gmail.com</div>
      <div class="phone"><b>Phone:</b> +358 034231123</div>
    </div>
  </div>
  <div class="change-password">
    <button>Change Password</button>
  </div>
</ion-content>
