<ion-item>
  <div class="card-wrapper">
    <div class="card-image" [style.backgroundImage]="'url(' + offer.imageUrl + ')'"></div>
    <div class="card-badge-discount" [style.backgroundImage]= "'url('+tagUrl+')'"></div>
    <div class="card-container">
      <div class="card-content">
        <div class="card-title">{{offer.title}}</div>
        <div class="card-price">
          <span class="product-price">{{offer.price}}<span id="currency">€</span></span>
        </div>
        <div class="card-social">
          <ion-icon [ngClass]="!isFav ? 'favorite' : 'favorite favoriteClicked'" (click)="addFavorite(offer.id)" name="heart"></ion-icon>
          <ion-icon name="chatbubbles"></ion-icon>
        </div>
        <div class="card-market">{{offer.market}}</div>
        <div class="card-detail-text" *ngIf="!isMore" (click)="onSwitchMoreLess()">More Detail<ion-icon name="arrow-down"></ion-icon></div>
      </div>
      <div class="card-more-detail" *ngIf="isMore">
        <div class="card-description">{{offer.description}}</div>
        <div class="card-discount"><b>Discount: </b>{{offer.discount}}%</div>
        <div class="card-validation" *ngIf="dateFrom !== '01/01/1970'"><b>Validation: </b>{{dateFrom}} - {{dateTo}}</div>
        <div class="card-address"><b>Address: </b>{{offer.location.address}}</div>
        <div class="card-map" [style.backgroundImage]="'url(' + offer.location.staticMapImageUrl + ')'"></div>
        <div class="card-less-detail-text" (click)="onSwitchMoreLess()">Less Detail<ion-icon name="arrow-up"></ion-icon></div>
      </div>
    </div> 
  </div>
</ion-item>

