<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Ale-Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="search" placeholder="Search"></ion-input>
          <ion-icon item-end name="search"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-list lines="none">
          <ion-item *ngFor="let post of loadedPosts">
            <ion-card>
              <ion-card-header color="light">
                <ion-card-title>{{ post.title }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-img [src]="post.image"></ion-img>
                  </ion-col>
                  <ion-col size="6">
                      <!-- <p>Description: {{ post.description }}</p> -->
                      <p>Price: <span class="price">{{ post.price }} €</span></p>
                      <p>Valid: {{ post.validTime }}</p>
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            <ion-button fill="clear" shape="round"><ion-icon name="heart-empty" slot="icon-only" color="danger"></ion-icon></ion-button>
                            <ion-button fill="clear" shape="round"><ion-icon name="chatboxes" slot="icon-only" color="danger"></ion-icon></ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-grid> 
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-item text-end>
                    <ion-label>{{ post.market }}</ion-label>
                </ion-item>
                
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

